name: Universal Mod Core Release

on: [workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v1
              with:
                java-version: '1.8' # The JDK version to make available on the path.
                java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
                architecture: x64 # (x64 or x86) - defaults to x64
            - run: |
                ref=`echo ${github_ref} | sed -e 's,refs/heads/,,' | tr '/' '-'`
                echo $ref
                echo "::set-env name=ref::$ref"
              env:
                github_ref: ${{ github.ref }}
                ACTIONS_ALLOW_UNSECURE_COMMANDS: true
            - name: keyscan
              run: mkdir -p ~/.ssh/ && ssh-keyscan -t rsa teamopenindustry.cc >> ~/.ssh/known_hosts
            - name: Hack date
              run: sudo date -s '2021-07-30 00:00:00'
            - name: secrets
              env:
                MAVENCI: ${{ secrets.MAVENCI }}
              run: echo "${MAVENCI}" >> publish_key
            - name: Gradle uploadArchives
              run: ./gradlew uploadArchives -Dtarget=release
            - name: cleanup
              run: rm publish_key
            - uses: actions/upload-artifact@v2-preview
              with:
                name: UniversalModCore-${{ env.ref }}
                path: build/libs/UniversalModCore-*.jar
